h1{
    font-style: italic;
}
ul.no-bullets{
    list-style-type: none;
    padding:none;
    margin: none;
    
}
li{
    display:block;
}
h1{
    text-align: center;
    color:greenyellow;
    background-color: hotpink;

}