h1{
    font-style: italic;
}

    

li{
    display:block;
}
h1{
    text-align: center;
    color:darkblue;
    text-decoration: none;
    font-style: normal;

}
h1:hover{
    font-family:'Times New Roman';
    font-style: italic;
    text-decoration: underline;
    font-size :20px;
    
    
}
.navbar{
    display: flex;
    list-style: none;
background-color: lightblue


}

.navbar>li{ 
    margin: 5px;}

p{
    text-align: left;
    color:black;
}
li{
    font-size: medium;
    font-style: normal;
    
}
h2{
    text-align:left;
    font-size: 200;
}
    
em{
    color:hotpink;
}
body{
    background-color:white;
}
span{
    color:blue;
}
.biography{
    font-family: 'Times New Roman';
}
.myimage{
    margin: 0px 10px 20px 0px;
    float: left;
    padding: 10px;
}
.paragraph{
    bottom: 0px;
    position: fixed;
}
.image{
    float: left;
    padding: 0px;
    border: 1px solid green;
    margin: 10px;
}
.image:hover{
    box-shadow:5px 5px 5px gray;
}


