h1{
    font-style: italic;
}
ul.no-bullets{
    list-style-type: none;
    padding:none;
    margin: none;
    
}
li{
    display:block;
}
h1{
    text-align: center;
    color:greenyellow;
    background-color: royalblue;
    text-decoration: none;

}
p:hover{
    font-family:'Times New Roman';
    font-style: italic;
    text-decoration: underline;
    color: red;
    font-size:large;
    
    
}
.navbar{
    display: flex;
    list-style: none;

}
.navbar>li{ 
    margin: 5px;}

p{
    text-align: right;
}